<form class="form-group" action="/add_products" method="post">
<label for="description">Description</label>
<input type="text" name="description">

<label for="price">Price</label>
<input type="text" name="price">

<label for="url">URL of image</label>
<input type="text" name="url">

<button type="submit" name="button">Add product</button>
</form>
