<h3>Search by purchase date</h3>
<form action='/search_results' method='post'>
  <input type='date' name='start_date'>
  <input type='date' name='end_date'>
  <button type="submit" name="button">Search</button>
</form>
